<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_HOME" value="/qc/logs" />
    <contextName>Cicada</contextName>

　　　<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
　　　　　 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%n</pattern>
　　　　　 </encoder>
　　　</appender>
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>Error</level>
        </filter>
        <File>${LOG_HOME}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/backups/error.%d{yyyyMMdd}.log</FileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="fileInfoLog" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>SERVICE_ID</Key>
            <DefaultValue>QC</DefaultValue>
        </discriminator>
        <sift>
            <appender name="${SERVICE_ID}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>ERROR</level>
                    <onMatch>DENY</onMatch>
                    <onMismatch>ACCEPT</onMismatch>
                </filter>
                <File>${LOG_HOME}/${SERVICE_ID}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${LOG_HOME}/backups/${SERVICE_ID}.%d{yyyy-MM-dd}.log</FileNamePattern>
                    <maxHistory>90</maxHistory>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="com.qc.cicada.controller" level="debug" additivity="true">
        <appender-ref ref="fileInfoLog" />
    </logger>

　　    <!-- 日志输出级别 -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="fileErrorLog" />
    </root>
</configuration>